.root {
  width: 250px;
  height: 350px;
  border: 0px solid black;
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
}
.cardImg {
  width: 100%;
  height: 100%;
}
.detail {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.82) 0%, rgba(255, 255, 255, 0) 100%);
  color: #ffffff;
  opacity: 0;
  padding: 5px;
}
.detail:hover {
  opacity: 1;
}
.rating {
  font-weight: 500;
}
.description {
  font-weight: 300;
  text-align: justify;
  line-height: 1.5em;
}
.cardButton {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: var(--lighter-green-color);
  font-size: 30px;
  border: 0px solid black;
  &:hover {
    cursor: pointer;
  }
}
