.root {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--grey-color);
  border-radius: 15px;
  direction: ltr;
  overflow: hidden;
  margin-bottom: 35px;
}
.input {
  width: 50%;
  background-color: transparent;
  padding: 10px;
  font-size: 18px;
  border: none;
}
.Button {
  font-weight: 500;
  padding: 15px;
  border-radius: 0px;
  overflow: hidden;
  border: 1px solid var(--grey-color);
}
